* {
    box-sizing: border-box;
}
:root {
    --header-bg : #10375C
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--header-bg);
}
/* Common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    color: #FFFFFF;
    background-color: #2E80CE;
    min-width: 205px;
    border-radius: 30px;
    border: 1px solid #2E80CE;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header {
    min-height: 100vh;
    background-color: var(--header-bg);
}

.container {
    width: 1170px;
    max-width:  calc(1170px -48px);
    margin: 0 auto;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}
.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #FFFFFF;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #FFFFFF;
}
.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}
/* Header-top */
.header-top {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link, .header-action__login {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 4px 21px;
}
 
.navbar__item:hover,
.navbar__item--active {
    color: #FFFFFF;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__item--active::before {
    content: "";
    position: relative;
    left: -8px;
    top: -2px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    margin-left: 7px;
    height: 44px;
    min-width: 104px;
    line-height: 44px;
}
/* Hero */
.hero{
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    color: #FFFFFF;
    letter-spacing: -o.02em;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #C9D2DA;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__row .hero__phone {
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #FFFFFF;
}


.hero__media {
    flex-grow: 1;
}
 
.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero__img {
    height: 540px;
    width: 330px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    height: 410px;
    width: 210px;
}